<!--<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"-->
<!--      layout:decorator="index.html">-->

<!--&lt;!&ndash; start: Content &ndash;&gt;-->
<!--<div layout:fragment="content" class="main sidebar-minified">-->

<!--    <form id="modularForm" th:action="@{../Login/signIn}"  method="post" enctype="multipart/form-data" class="form-horizontal ">-->

<!--        <div class="form-group">-->
<!--            <label class="col-lg-2 col-md-2 col-sm-12 control-label">用户名:</label>-->

<!--            <div class="col-lg-10 col-md-10">-->
<!--                <div class="row">-->
<!--                    <div class="col-lg-2 col-md-2">-->
<!--                        <input type="text" name="userName" class="form-control" placeholder="输入用户名">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <label class="col-lg-2 col-md-2 col-sm-12 control-label">密码</label>-->

<!--            <div class="col-lg-10 col-md-10">-->
<!--                <div class="row">-->
<!--                    <div class="col-lg-2 col-md-2">-->
<!--                        <input type="password" name="userPassWord" class="form-control" placeholder="请输入密码"  >-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <button id="submitBtn" type="submit" class="btn btn-sm btn-success"><i-->
<!--                class="fa fa-dot-circle-o"></i> 登录-->
<!--        </button>-->

<!--    </form>-->

<!--</div>-->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<link th:href="@{../css/bootstrap.min.css}" rel="stylesheet">
<script th:src="@{../js/jquery-2.1.1.min.js}"></script>
<script th:src="@{../js/layer/layer.js}"></script>

<style>
    #box{
        width: 500px;
        height: 300px;
        border: 5px solid #e2e5e5;/*边界*/
        border-radius:15px;/*边界弧度*/
        position: absolute;/*位置固定*/
        left: 50%;
        right: 50%;
        margin-left: -185px;
        margin-top: 15%;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="box">
    <!--    th:action="@{../user/signIn}"-->
    <form id="modularForm" th:action="@{../Login/signIn}"  method="post" enctype="multipart/form-data" class="form-horizontal ">
        <div class="form-group">

            <label class="col-sm-2 control-label">用户名</label>
            <div class="col-sm-8">
                <input type="text" name="userName" class="form-control" placeholder="Username">
            </div>
        </div>



        <div class="form-group">
            <label  class="col-sm-2 control-label">Password</label>
            <div class="col-sm-8">
                <input type="password" name="userPassWord" class="form-control" placeholder="userPassWord">
            </div>
        </div>

        <!--记住密码-->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Remember me
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="submitBtn" type="submit" class="btn btn-sm btn-success">Sign in</button>
            </div>
            <br>
            <br>
            <br>
            <div class="col-sm-offset-2 col-sm-10">
                <a class="btn btn-primary" > 注   册</a>
            </div>
        </div>

    </form>
</div>





<script>
</script>


</body>
</html>